body {
    background-color: black;
/*  padding: 150pt;*/
  padding-left: 400pt;
  padding-top: 100pt;
  transition: .4s;
/*  margin-left: auto;
  margin-right: auto;*/
  position: center;
}

.square {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 10pt;
}





@keyframes slide-bl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(500px) translateX(-300px);
            transform: translateY(500px) translateX(-300px);
  }
}




#one {
  background-color: #01FFC3;
}

#oneHover:hover div{
-webkit-animation: slide-bl 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-bl 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            background: #01FFFF;
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
            background: #9D72FF;
  }
}


#twoHover:hover div{
-webkit-animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#two {
  background-color: #01FFFF;
}



@keyframes slide-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
            background: #FFB3FD;
  }
  100% {
    -webkit-transform: translateY(-400px) translateX(300px);
            transform: translateY(-400px) translateX(300px);
            background: #01FFC3;
  }
}

#threeHover:hover div{
  -webkit-animation: slide-tr 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-tr 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#three {
  background-color: #FFB3FD;
}




@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            background: #9D72FF;
  }
  100% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
            background: #01FFFF;
  }
}



#fourHover:hover div{
-webkit-animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#four {
  background-color: #9D72FF;
}












