body {
background-color: #E3C1AB /*DCD5F1*/;
/*font-size: 100px;*/
font-family: 'Inconsolata', monospace;
color: white;
}

h1 {
	color: white;
	position: relative;
	text-align: center;
	padding-top: 30px;
	font-size: 30pt;
}

h2 {
	color: white;
	width: /*480pt;*/ /*550pt;*/ 610pt;
	padding: 50pt;
	padding-bottom: 0;
	position: relative;
}




/*body, html {
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 23px;
	line-height: 42px;
	font-weight: 100;
	text-align:center;
	height: 100%;
}*/
section {
	/* background: #dce7eb; */
	width: 100%;
	height: 100%;
	display: flex;
	align-items: right;
}


.trash {
	background:white;
	width: 66px;
	height: 80px;
	display: inline-block;
	margin:0 auto;
	
	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.trash:after {
	position: absolute;
	left: -99px;
	right: 0;
	bottom: -50px;
	width: 300px;
}
.trash span {
	position: absolute;
	height: 12px;
	background: white;
	top: -19px;
	left: -10px;
	right: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}
.trash span:after {
	content: '';
	position: absolute;
	width: 27px;
	height: 7px;
	background: white;
	top: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
	left: 27px;
}


.trash i {
	position:relative;
	width: 5px;
	height:50px;
	background:#E3C1AB;
	display:block;
	margin:14px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 5px;
	height: 50px;
	background: #E3C1AB;
	position: absolute;
	left: -18px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 5px;
	height: 50px;
	background: #E3C1AB;
	position: absolute;
	right: -18px;
	border-radius: 5px;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}