
body {
	background-color: #E3C1AB;
	font-family: 'Inconsolata', monospace;
}

.phonebig{
  height: 660px;
  width: 395px;
  background-color: black;
  border-radius: 20px;
  transform: rotate(-15deg);
  position: absolute;
  left: 50vw;
  margin-left: -200px;
  top: 30vh;
  margin-top: -100px;
}

.phonesmall {
  height: 600px;
  width: 360px;
  background-color: lightgrey;
  border-radius: 20px;
  transform: rotate(-15deg);
  position: absolute;
  left: 50vw;
  margin-left: -184px;
  top: 30vh;
  margin-top: -75px;
}

h1 {
	color: white;
	position: relative;
	text-align: center;
	font-size: 30pt;
/*	padding: 50px;*/
}

h3 {
	margin: 0;
	border-bottom: solid 0.25pt;
	/*transform: rotate(6deg);*/
}


p {
	display: flex;
	width: 250px;
	margin-top: 20px;
	padding:10px;
	font-size: 13pt;
}

.health {
	color: #C34B55;
	margin-bottom: 0;
}

.environment {
	color: #438A2E;
	margin-top: 0;
}


.right h3 {
	text-align: right;
}
.right p {
	float:right;
}


.revealer p {
	opacity: 0;
	/*height:0;*/
	overflow: hidden;
	transition: opacity 200ms ease-out;
}

.hoveringRevealer .revealer {
	opacity: 0;
}


.revealer:hover {
	opacity: 1 !important;
	height:unset;
	cursor: help;
}
.revealer:hover p {
	opacity: 1 !important;
	height:unset;
}




.button {
  background-color: #4CAF50;
  color: white;
  font-size: 50px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -25px;
  transform: rotate(-15deg);
  padding: 30px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
}






.blink {
	-webkit-animation: blink 0.6s 8s both;
	        animation: blink 0.6s 8s both;
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}



#plasticBox {
	position: absolute;
	top:250px;
	left:10vw;
	width:28vw;
}

#cooperBox {
	position: absolute;
	top:330px;
	right:10vw;
	width:30vw;	
}

#goldBox {
	position: absolute;
	top:430px;
	left:10vw;
	width:32vw;
}

#leadBox {
	position: absolute;
	top:500px;
	right:10vw;
	width:30vw;
}


#zincBox {
	position: absolute;
	top:610px;
	left:10vw;
	width:33vw;
}

#berylliumBox {
	position: absolute;
	top:670px;
	right:10vw;
	width:28vw;
}

#tantalumBox {
	position: absolute;
	top:790px;
	left:10vw;
	width:36vw;
}





