body {
background-color: #E3C1AB /*DCD5F1*/;
/*font-size: 100px;*/
font-family: 'Inconsolata', monospace;
color: white;
}

.rectangle_big {
  height: 210px;
  width: 120px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  transform: rotate(-15deg);
}

.rectangle_small {
  display: block;
  height: 190px;
  width: 110px;
  background-color: lightgrey;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -46px;
  top: 50%;
  margin-top: -45px;  
  transform: rotate(-15deg);
}

/*h4 {
  display: flex;
  width: 200px;
}

#change {
  left: 30%;
}
*/


.shape_one {
  height: 350px;
  width: 350px;
  background-color: #555;
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  font-color: white;
  position: absolute;
}


.shape_two {
  height: 350px;
  width: 350px;
  background-color: #391813;
  border-radius: 70px 30px 30px 70px/30px 60px 90px 120px;
  position: absolute;
  transform: rotate(10deg);
}

.shape_three {
  height: 290px;
  width: 290px;
  background-color: #3D2114;
  border-radius: 60px 40px 60px 140px/70px 30px 30px 70px;
  position: absolute;
}

.shape_four {
  height: 260px;
  width: 260px;
  background-color: #3D2F14;
  border-radius: 20px 60px 40px 80px/80px 50px 130px 50px;
  position: absolute;
}

.shape_five {
  height: 270px;
  width: 270px;
  background-color: #321119;
  border-radius: 70px 30px 30px 70px/30px 60px 90px 120px;
  position: absolute;
}

.shape_six {
  height: 230px;
  width: 230px;
  background-color: #2E0F20;
  border-radius: 120px 60px 40px 80px/80px 50px 130px 50px;
  position: absolute;
}

.shape_seven {
  height: 250px;
  width: 250px;
  background-color: #1B090A;
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  position: absolute;
}

.shape_eight {
  height: 200px;
  width: 200px;
  background-color: darkgrey;
  border-radius: 60px 40px 160px 40px/70px 30px 30px 170px;
  position: absolute;
}

.shape_nine {
  height: 290px;
  width: 290px;
  background-color: #180F2E;
  border-radius: 70px 30px 30px 70px/30px 60px 90px 120px;
  position: absolute;
}

.shape_ten {
  height: 300px;
  width: 300px;
  background-color: #0F192E;
  border-radius: 60px 40px 60px 40px/70px 30px 30px 70px;
  position: absolute;
}

.shape_eleven {
  height: 320px;
  width: 320px;
  background-color: #0D2626;
  border-radius: 20px 60px 40px 80px/80px 50px 30px 50px;
  position: absolute;
  transform: rotate(-5deg);
}

.shape_twelve {
  height: 330px;
  width: 330px;
  background-color: #0D261B;
  border-radius: 20px 60px 40px 80px/80px 50px 30px 50px;
  position: absolute;
  transform: rotate(9deg);
}

.shape_thirteen {
  height: 300px;
  width: 300px;
  background-color: #0E220B;
  border-radius: 48px 67px 42px 58px/38px 54px 21px 13px;
  position: absolute;
  transform: rotate(-6deg);
}

.shape_fourteen {
  height: 200px;
  width: 200px;
  background-color: #23260D;
  border-radius: 30px 60px 90px 120px/70px 30px 30px 50px;
  position: absolute;
  transform: rotate(8deg);
}

.shape_fifteen {
  height: 200px;
  width: 200px;
  background-color: #221D0B;
  border-radius: 70px 30px 30px 70px/30px 60px 90px 120px;
  position: absolute;
  transform: rotate(-10deg);
}

.shape_sixteen {
  height: 290px;
  width: 290px;
  background-color: #220E0B;
  border-radius: 48px 67px 42px 58px/38px 54px 121px 113px;
  position: absolute;
  transform: rotate(-21deg);
}

.shape_seventeen {
  height: 200px;
  width: 200px;
  background-color: #0D2625;
  border-radius: 120px 160px 140px 180px/180px 150px 130px 150px;
  position: absolute;
  transform: rotate(-24deg);
}

.shape_eighteen {
  height: 220px;
  width: 220px;
  background-color: #221F0B;
  border-radius: 42px 76px 37px 84px/48px 50px 123px 53px;
  position: absolute;
  transform: rotate(-10deg);
}

.shape_nineteen {
  height: 210px;
  width: 210px;
  background-color: #26150D;
  border-radius: 45px 67px 37px 78px/84px 52px 39px 134px;
  position: absolute;
  transform: rotate(7deg);
}

.shape_twenty {
  height: 200px;
  width: 200px;
  background-color: #221F0B;
  border-radius: 124px 69px 46px 88px/70px 75px 21px 43px;
  position: absolute;
  transform: rotate(10deg);
}



#shake:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
          animation: wobble-hor-bottom 0.8s both;
}


@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

