body {
background-color: #DCD5F1;
}

.shape_one {
  height: 300px;
  width: 300px;
  background-color: #555;
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  font-color: white;
  position: absolute;
  
}

.shape_two {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 70px 30px 30px 70px/30px 60px 90px 120px;
  position: absolute;
}

.shape_three {
  height: 150px;
  width: 150px;
  background-color: pink;
  border-radius: 60px 40px 60px 40px/70px 30px 30px 70px;
  position: absolute;
}

.rectangle_big {
  height: 210px;
  width: 120px;
  background-color: black;
  position: absolute;
}

.rectangle_small {
  height: 190px;
  width: 110px;
  background-color: lightgrey;
  position: absolute;
}