body {
background-color: #DCD5F1;
}

.shape_one {
	height: 150px;
  width: 150px;
  background-color: #555;
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  font-color: white;
  position: absolute;
}

.shape_two {
	width: 180px;
  height: 180px;
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	border-radius: 90px 90px 40px 10px/60px 90px 80px 100px;
	background-color: white;
}

