
body {
	background-color: #E3C1AB;
	font-family: 'Inconsolata', monospace;
}

.phonebig{
  height: 660px;
  width: 395px;
  background-color: black;
  border-radius: 20px;
  transform: rotate(-15deg);
  position: absolute;
  left: 50vw;
  margin-left: -200px;
  top: 25vh;
  margin-top: -100px;
}

.phonesmall {
  height: 600px;
  width: 360px;
  background-color: lightgrey;
  border-radius: 20px;
  transform: rotate(-15deg);
  position: absolute;
  left: 50vw;
  margin-left: -184px;
  top: 25vh;
  margin-top: -75px;
}


h3 {
	margin: 0;
	border-bottom: solid 0.25pt;
}


p {
	display: flex;
	width: 250px;
	margin-top: 20px;
	padding:10px;
	/*background:red;*/
}


.right h3 {
	text-align: right;
}
.right p {
	float:right;
}


.revealer p {
	opacity: 0;
	/*height:0;*/
	overflow: hidden;
	transition: opacity 200ms ease-out;
}
.revealer:hover p {
	opacity: 1;
	height:unset;
}



#americiumBox {
	position: absolute;
	top:150px;
	left:10vw;
	width:23vw;
}

#leadBox {
	position: absolute;
	top:180px;
	right:15vw;
	width:30vw;	
}

#mercuryBox {
	position: absolute;
	top:310px;
	left:10vw;
	width:26vw;
}


#plasticBox {
	position: absolute;
	top:310px;
	right:10vw;
	width:26vw;
}









