body {
background-color: #fffaf1;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}


#rene {
	position: absolute;
	top: 23vh;
	left: 12vw;
	transform: scale(1.4);
	/*margin-top: 200px;*/
}

/*a {
	width: 0.5;

	position: relative;
}*/

/*#pipe {
		margin-top: 0;

}*/

.textbox {
	/*margin-left: 700px;
	columns: 490px;*/
	max-width: 460px;
	width:40vw;
  right: 50px;
  top: 250px;
  position: absolute;
}

h1 {
	text-align: center;
	display: block;
	max-width: 1000px;
}


p {
	font-family: 'Open Sans', sans-serif;
}

/*@media only screen and (max-width: 600px) {
	body {
		background:pink;
	}
	.textbox {
    right: 50px;
    top: 600px;
    position: absolute;
    left: 50px;
    width: unset;
}
}*/

#mobile {
	display: none;
}


@media only screen and (max-width: 700px) {
	body {
		background:black;
	}

	#mobile {
		display: block;
		color: white;
		font-size: 30pt;
		text-align: center;
	}

	.textbox {
	display: none;
	}

	.frame {
		display: none;
	}

	h1 {
		display: none;
	}

	a {
		display: none;
	}

	#rene {display: none;}
}
