body {
background-color: #fffaf1;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}

#rene {
	position: absolute;
	top: 23vh;
	left: 12vw;
	transform: scale(1.4);
	margin-top: 200px;
}

a {
	position: absolute;
}

#pipe {
		margin-top: 0;
		
}

.textbox {
	/*margin-left: 700px;
	columns: 490px;*/
	max-width: 500px;
  margin:0 auto;
  margin-left: 700px;
  margin-top: 250px;
}



p {
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
	body {
		background:pink;
	}

}