body {
background-color: #fffaf1;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}

img {
	position: absolute;
	margin-top: 23vh;
	margin-left: 12vw;
	transform: scale(1.4);
}

a {
	position: absolute;
}

