body {
background-color: #EFDECD;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}



a {
	position: absolute;
}


.frame {
	margin-left: auto;
	width:700px;
	height: 902px;
	position: relative;
 	margin-right: auto;
}

#background {
	position: absolute;
	top:0;
	left:0;
}

#left_curtain_half {
	position: absolute;
	top:0;
	left:0;
	transition: transform 100ms ease;
	transform-origin: 118px 0;
	transform: scale(1,1);
}

#right_curtain_half {
	position: absolute;
	top:0;
	right:0;
	/*transition: right 100ms ease, width 100ms ease;*/
	transition: transform 100ms ease;
	transform-origin: 255px 0;
	transform: scale(1,1);
}

#canvas_half {
	position: absolute;
	bottom: 0px;
	left: 0;
}

#left_curtain_half.slide {
	/*width: 10px;*/
	/*height: 902px;*/
    /*left: 125px;*/
    transform: scale(0.05,1);
}

#right_curtain_half.slide {
	/*width: 10px;
	height: 902px;*/
    /*right: 145px;*/
    transform: scale(0.05,1);
}



.textbox {
	font-size: 12pt;
	columns: 2;
	max-width: 600px;
  margin:0 auto;
  margin-left: auto;
  position: relative;
  column-gap: 50px;
}


h1 {
	text-align: center;
	display: block;
}


p {
	font-family: 'Open Sans', sans-serif;
}

#mobile {
	display: none;
}


@media only screen and (max-width: 700px) {
	body {
		background:black;
	}

	#mobile {
		display: block;
		color: white;
		font-size: 30pt;
		text-align: center;
		margin-top: 15vh;
	}

	.textbox {
	display: none;
	}

	.frame {
		display: none;
	}

	h1 {
		display: none;
	}

	a {
		display: none;
	}


}




/*.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
*/