body {
background-color: #EFDECD;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}



a {
	position: absolute;
}


.frame {
	margin-left: auto;
	width:700px;
	height: 902px;
	position: relative;
 	margin-right: auto;
}

#background {
	position: absolute;
	top:0;
	left:0;
}

#left_curtain_half {
	position: absolute;
	top:0;
	left:0;
	transition: transform 100ms ease;
	transform-origin: 118px 0;
	transform: scale(1,1);
}

#right_curtain_half {
	position: absolute;
	top:0;
	right:0;
	/*transition: right 100ms ease, width 100ms ease;*/
	transition: transform 100ms ease;
	transform-origin: 255px 0;
	transform: scale(1,1);
}

#canvas_half {
	position: absolute;
	bottom: 0px;
	left: 0;
}

#left_curtain_half.slide {
	/*width: 10px;*/
	/*height: 902px;*/
    /*left: 125px;*/
    transform: scale(0.05,1);
}

#right_curtain_half.slide {
	/*width: 10px;
	height: 902px;*/
    /*right: 145px;*/
    transform: scale(0.05,1);
}



.textbox {
/*	margin-left: 700px;
*/	columns: 490px 3;
	max-width: 500px;
  margin:0 auto;
  margin-left: auto;
  position: relative;
}

p {
	font-family: 'Open Sans', sans-serif;
}

