body {
background-color: #EFDECD;
font-family: 'Satisfy', cursive;
}

img {
/*	display:flex;
*/  
}




.shake-horizontal {
	        animation: shake-horizontal 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}


@keyframes shake-horizontal {
  0%,
  100% {
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
            transform: translateX(10px);
  }
  80% {
            transform: translateX(8px);
  }
  90% {
            transform: translateX(-8px);
  }
}



a {
	position: absolute;
}

.frame {
	margin-left: auto;
	height: 796px;
	width:650px;
	position: relative;
 	margin-right: auto;
}
#noface {
	position: absolute;
	top:0;
	left:0;
}
#face {
	position: absolute;
	top:0;
	left:50vw;
	z-index:1000;
	transition: left 1000ms ease;
}
#face.slide {
	left:0;
	animation: none;
}

.textbox {
	font-size: 12pt;
	columns: 2;
	max-width: 600px;
  margin:0 auto;
  margin-left: auto;
  position: relative;
}


h1 {
	text-align: center;
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
}

p {
	font-family: 'Open Sans', sans-serif;
}

/*#golconda {
	position: fixed;
	*/
}


#mobile {
	display: none;
}


@media only screen and (max-width: 600px) {
	body {
		background:black;
	}

	#mobile {
		display: block;
		color: white;
		font-size: 30pt;
		text-align: center;
	}

	.textbox {
	display: none;
	}

	.frame {
		display: none;
	}

	h1 {
		display: none;
	}

	a {
		display: none;
	}


}


