body {
background-color: #EFDECD;
/*font-size: 100px;*/
font-family: 'Satisfy', cursive;
}



a {
	position: absolute;
}


.textbox {
/*	margin-left: 700px;*/
	font-size: 12pt;
	columns: 3;
  margin:0 auto;
  margin-left: auto;
  position: relative;
  column-gap: 50px;
  column-width: 200px;
  max-width: 900px;
}

h1 {
	text-align: center;
	display: block;
}


p {
	font-family: 'Open Sans', sans-serif;
}



.frame {
	width:668px;
	position: relative;
 	margin-right: auto;
	margin-left: auto;
}

#noheadbg {
	position: absolute;
	top: 0;
	left: 0;
}

/*#bighead {
	position: absolute;
	top:0;
	left:0;
}*/

#smallhead {
	position: absolute;
	top:0;
	left:0;
	transition: 100ms ease;
}

.shake-vertical {
	        animation: shake-vertical 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}





#faceonly {
	position: absolute;
	top: 216px;
	left: 303px;
}


#bighead {
	transform: scale(0.3) translateY(-370px);
	top: 413px;
}

#orangeHead.slide #bighead {
	transform: scale(1);
/*	top: 413px;*/
}



/*#orangeHead.slide #smallhead {
	transform: scale(3.5);
	top: 413px;
/*	position: relative;
	top: 0;
	left: 0;
	animation: none;
}*/

#orangeHead.slide {
	animation: none;
}


@keyframes shake-vertical {
  0%,
  100% {
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
            transform: translateY(8px);
  }
  80% {
            transform: translateY(6.4px);
  }
  90% {
            transform: translateY(-6.4px);
  }
}

/*#toc {
	position: fixed;
  bottom: 1em;
  right: 1em;
}*/

#mobile {
	display: none;
}


@media only screen and (max-width: 700px) {
	body {
		background:black;
	}

	#mobile {
		display: block;
		color: white;
		font-size: 30pt;
		text-align: center;
		margin-top: 15vh;
	}

	.textbox {
	display: none;
	}

	.frame {
		display: none;
	}

	h1 {
		display: none;
	}

	a {
		display: none;
	}


}
