
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
	background: black;	
	color: black;
  font-family: 'VT323', monospace;
  font-size: 30pt;
  margin-left: 20vw;
  margin-right: 20vw;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#oclock {
  color: white;
  font-size: 20pt;
  align-self: center;
}

.box {
  display: flex;
  justify-content: space-between;
}



.now {
  color:white;
}

#hour {
  align-self: center;
}

#minutes-tenPlace {
  align-self: center;
}

#minutes-onePlace {
  align-self: center;
}

#seconds-tenPlace {
  align-self: center;
}

#seconds-onePlace {
  align-self: center;
}


/*#clock {
	border: 1px solid white;
	width: 500px;
	height: 500px;

	display: grid;
	align-items: center;
  justify-content: center;
  position:relative;
  border-radius:250px;
}

.aFiveMinute {
	background: white;
}

#secondHand {
  position:absolute;
  top:0px;
  left:250px;
  width:2px;
  height:300px;
  background:red;*/
  
  /* spin the second hand from the middle of the clock 
/*  transform-origin:50% 100%;
}*/

